body {
  background-image:url(assets/freedom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
p.uppercase {
  text-transform: uppercase;
  text-align: center;
  font-size: 150%;
  position: relative;
  top: +50.5px;
  
}